.jumbotron-fluid {
    background-image: url("../images/goldie_snow.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    color: white;
    text-align: center;
}